<app-header></app-header>



<div class="panel">
    <ul class="list-group">
        <li class="list-group-item">
            <div> <a   *ngFor="let market of MarketList" class="h5">
                    <div class="media">
                        <div class="media-body">
                            <span>{{market.name}}</span>
                            <span style="padding-right:30px;" class="pull-right">
                                <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </li>

        </ul>
        </div>

