
      <app-header></app-header>

            <div class="panel">
           

               <div id="navbar-example">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
                    </li>
                   
                   
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                            <div class="tab-head">
                              <span class="head-title" style="    font-size: 16px;" >
                                   
                               Lucky 7    
                                <small  data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
                                <div class="text-right" ><small style="font-size: 13px;  font-weight: 400;"><b>Round ID:</b>192811113155</small></div>
                             </div>
                             <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document" style="width: 300px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLongTitle"style="color: black;     font-weight: 300;">Rules</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body"style="color: black;">
                                        <img src="/assets/images/aaa-rules.jpg" class="img-fluid" style="height: 354px; width: 266px;">
                                        </div>
                                      </div>
                                      </div>
                             </div>

                                
                                    <div id="playerDiv" style="width: 100%;    height: 200px; overflow: hidden; position: relative; background-color: black;">
                                      <div class="video-overlay" style="display: block;">
                                        <div class="card-inner">
                                            <h3 class="text-white" style="color: #fff;">card</h3>
                                            <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                            </div>
                                        </div>
                                        </div>
                                               

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
                                               
                                        <div class="iframe"><iframe style="border: none;    height: 200px;" src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
                                        </iframe>
                                      </div>
                                      </div>

                                      <div class="card-content">
                                    
                                          <!-- <div class="tab-head">
                                         
                                            <a id="circle" data-toggle="modal" data-target="#exampleModalLong"style="float: right;    font-size: 16px;"><span><i class="fa fa-info-circle "></i></span></a>
                                          
                                     </div> -->
                                   

                                      <div class="table">
                                            <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
                                                    <div class="col-5">
                                                      <div class="content">
                                                                <div class="text-center">
                                                                  <div><b>1.83</b></div>
                                                                   <div class="m-b-5 m-t-5">
                                                                    <button class="text-uppercase casino-btn"><b>LOW Card</b></button>
                                                                  </div> 
                                                                  <div>
                                                                    <div class="text-danger"><b>0</b></div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-2">
                                                                    <div class="content">
                                                                              <div class="text-center">
                                                                                <div><b>1.83</b></div>
                                                                                 <div class="m-b-2 m-t-5">
                                                                                  <button class="text-uppercase casino-btn"><b>Odd</b></button>
                                                                                </div> 
                                                                                <div>
                                                                                  <div class="text-danger"><b>0</b></div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-5">
                                                                                <div class="content">
                                                                                          <div class="text-center">
                                                                                            <div><b>1.83</b></div>
                                                                                             <div class="m-b-5 m-t-5">
                                                                                              <button class="text-uppercase casino-btn"><b>HIGH Card</b></button>
                                                                                            </div> 
                                                                                            <div>
                                                                                              <div class="text-danger"><b>0</b></div>
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="col-10" style="float: right;color: #495869;" ><span><b>Min:</b>100</span><span><b>Max:</b>20000</span></div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                       <div class="row1">
                                          <div class="col-12">
                                          <div class="col-6" style="margin-right: 5px;">
                           
                                                    <div class="col-2">
                                                            <div class="content">
                                                                      <div class="text-center">
                                                                        <div><b>1.83</b></div>
                                                                         <div class="m-b-2 m-t-5">
                                                                          <button class="text-uppercase casino-btn"><b>Odd</b></button>
                                                                        </div> 
                                                                        <div>
                                                                          <div class="text-danger"><b>0</b></div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-2">
                                                                        <div class="content">
                                                                                  <div class="text-center">
                                                                                    <div><b>1.83</b></div>
                                                                                     <div class="m-b-2 m-t-5">
                                                                                      <button class="text-uppercase casino-btn"><b>Odd</b></button>
                                                                                    </div> 
                                                                                    <div>
                                                                                      <div class="text-danger"><b>0</b></div>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="text-right">
                                                                                        <div class="col-10" style="float: right;color: #495869;" ><span><b>Min:</b>100</span><span><b>Max:</b>20000</span></div>
                                                                                     </div>
                                                                                </div>
                                                                              </div>
                                                                              
                                         
                                                    </div>

                                                    <div class="col-6" style="margin-left: 5px;">
                                                            <div class="col-2">
                                                                    <div class="content">
                                                                              <div class="text-center">
                                                                                <div><b>1.83</b></div>
                                                                                 <div class="m-b-2 m-t-5">
                                                                                  <button class="text-uppercase casino-btn"><b>Odd</b></button>
                                                                                </div> 
                                                                                <div>
                                                                                  <div class="text-danger"><b>0</b></div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-2">
                                                                                <div class="content">
                                                                                          <div class="text-center">
                                                                                            <div><b>1.83</b></div>
                                                                                             <div class="m-b-2 m-t-5">
                                                                                              <button class="text-uppercase casino-btn"><b>Odd</b></button>
                                                                                            </div> 
                                                                                            <div>
                                                                                              <div class="text-danger"><b>0</b></div>
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="text-right">
                                                                                                <div class="col-10" style="float: right;color: #495869;" ><span><b>Min:</b>100</span><span><b>Max:</b>20000</span></div>
                                                                                             </div>
                                                                                        </div>
                                                                                      </div>
                                                            
                                                     </div>
 
                                        
                                                        </div> 
                                                        </div>
                                
                                      

                        
                                              

                  


                                        
                                       <div class="row3">
                                                                                                                           
                                            <div class="col-10 text-right">
                                          
                                          </div>

                                          <div class="col-12 text-center" style="text-align: center; display: inline-block;"><b>0.00</b></div>
                                          
                                          <div class=" images images text-center">
                                            <div class=" m-r-5 card-image">
                                            <img src="/assets/images/1.jpg" style="width: 40px;">
                                            <div class="text-danger"><b>0</b></div>
                                          </div>

                                            <div class=" m-r-5 card-image">
                                                <img src="/assets/images/2.jpg" style="width: 40px;">
                                                <div class="text-danger"><b>0</b></div>
                                              </div>

                                              <div class=" m-r-5 card-image">
                                                  <img src="/assets/images/3.jpg" style="width: 40px;">
                                                  <div class="text-danger"><b>0</b></div>
                                                </div>

                                                <div class=" m-r-5 card-image">
                                                    <img src="/assets/images/4.jpg" style="width: 40px;">
                                                    <div class="text-danger"><b>0</b></div>
                                                  </div>

                                                  <div class=" m-r-5 card-image">
                                                      <img src="/assets/images/5.jpg" style="width: 40px;">
                                                      <div class="text-danger"><b>0</b></div>
                                                    </div>

                                                    <div class=" m-r-5 card-image">
                                                        <img src="/assets/images/6.jpg" style="width: 40px;">
                                                        <div class="text-danger"><b>0</b></div>
                                                      </div>

                                                      <div class=" m-r-5 card-image">
                                                          <img src="/assets/images/7.jpg" style="width: 40px;">
                                                          <div class="text-danger"><b>0</b></div>
                                                        </div>

                                                        <div class=" m-r-5 card-image">
                                                            <img src="/assets/images/8.jpg" style="width: 40px;">
                                                            <div class="text-danger"><b>0</b></div>
                                                          </div>

                                                          <div class=" m-r-5 card-image">
                                                              <img src="/assets/images/9.jpg" style="width: 40px;">
                                                              <div class="text-danger"><b>0</b></div>
                                                            </div>

                                                            <div class=" m-r-5 card-image">
                                                                <img src="/assets/images/10.jpg" style="width: 40px;">
                                                                <div class="text-danger"><b>0</b></div>
                                                              </div>

                                                              <div class=" m-r-5 card-image">
                                                                  <img src="/assets/images/11.jpg" style="width: 40px;">
                                                                  <div class="text-danger"><b>0</b></div>
                                                                </div>

                                                                <div class=" m-r-5 card-image">
                                                                    <img src="/assets/images/12.jpg" style="width: 40px;">
                                                                    <div class="text-danger"><b>0</b></div>
                                                                  </div>

                                                                  <div class=" m-r-5 card-image">
                                                                      <img src="/assets/images/13.jpg" style="width: 40px;">
                                                                      <div class="text-danger"><b>0</b></div>
                                                                    </div>
                                                                    <div class="text-right">
                                                                        <div class="col-10" style="float: right;color: #495869;" ><span><b>Min:</b>100</span><span><b>Max:</b>20000</span></div>
                                                                     </div>
                                                              </div>
                                                            </div>
                                                             
                                                            <div class="block" style="    margin-top: 15px;    background: #eeeeee;" >
                                                              <div class="tab-head">
                                                                Khado Market
                                                                <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 16px;">  View All</a> 
                                                         </div>
                                                       

                                                         <div class="balls">
                                                           <p class="text-right">
                                                             <span class="runs">
                                                               <span>C</span> </span>
                                                               <span class="runs">
                                                                 <span>B</span>
                                                                </span>
                                                                <span class="runs"> 
                                                                  <span>B</span> </span>
                                                                  <span class="runs">
                                                                    <span>A</span> </span>
                                                                    <span class="runs">
                                                                      <span>A</span>
                                                                    </span>
                                                                    <span class="runs">
                                                                      <span>A</span>
                                                                    </span>
                                                                    <span class="runs">
                                                                      <span>A</span>
                                                                    </span>
                                                                    <span class="runs">
                                                                       <span>B</span>
                                                                      </span>
                                                                      <span class="runs">
                                                                        <span>A</span> 
                                                                        </span>
                                                                        <span class="runs">
                                                                          <span>A</span>
                                                                        </span>
                                                                      </p>
                                                                    </div>
                                                                  </div>  
                                        
                                         

                                         
                                         
                                       
                                        </div>   
                                          
                                            
                            
                                 
                            
                    </div>
                        <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
                                <div class=" tab-content" style=" margin-top: 20px;" >
                                        <table class="tbldsk table table-striped  m-b-none text-small">
                                        <thead>
                                        <tr>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">Nation</th>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">ODDS</th>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody id="matched"></tbody>
                                        </table>
                                    </div>
                      </div>
              
                </div>
            </div>


               
           </div>

