


    <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>


           <div class="form">
                <h4 style="text-align:center">Unsetteled Bet</h4>
                <div class="tab1" style="padding-left: 20px;">
                  <form>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" checked> matched
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Unmatched
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Deleted
                    </label>
                  </form>
                  </div>

                  <div class=" tab" >
                        <div style="overflow-x:auto;">
                    <table class="tbldsk table table-bordered " cellspacing="0">
                            <thead>
                                    <tr>
                                    <th style="min-width:20px;"> No</th>
                                    <th style="min-width:100px;" class="text-center">Event Name</th>
                                    <th style="min-width:100px;" class="text-center">Nation</th>
                                    <th style="min-width:50px;" class="text-center">Event Type</th>
                                    <th class="text-center">Market Name</th>
                                    <th style="min-width:20px" class="text-center">Side</th>
                                    <th style="min-width:20px" class="text-center">Rate</th>
                                    <th style="min-width:70px" class="text-right">Amount</th>
                                    <th style="min-width:100px" class="text-center">Placed Date</th>
                                    </tr>
                                    </thead>
                      <tbody>
                      <tr>
                        <td colspan="10" style="font-weight: 400;
                        font-size: 13px;" >No data available in table</td>
                      </tr>
                      </tbody>
                      </table>
                      </div>
            </div>
               
           </div>
          
     </div>

