

        
            <app-header></app-header>
    
            <div class="panel">
           
    
               <div id="navbar-example">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
                    </li>
                   
                   
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                            <div class="tab-head">
                              <span class="head-title" style="    font-size: 16px;" >
                                ONE DAY LIVE POKER   
                                <small  data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
                                <div class="text-right" ><small style="font-size: 13px;  font-weight: 400;"><b>Round ID:</b>192811113155</small></div>
                             </div>
                             <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document" style="width: 300px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLongTitle"style="color: black;     font-weight: 300;">Rules</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body"style="color: black;">
                                        <img src="/assets/images/tt_cards_rule.jpg" class="img-fluid" style="height: 450px; width: 266px;">
                                        </div>
                                      </div>
                                      </div>
                             </div>
    
                                
                                    <div id="playerDiv" style="width: 100%; overflow: hidden; position: relative; background-color: black;">
                                             

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
                                        <div class="iframe"><iframe style="border: none;    height: 200px;" src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
                                        </iframe>
    
                                      </div>
                                   
                                      </div>
    
                                      <div class="card-content">
                                      <div class="table">
                                        <table style="margin-top:0px;margin-bottom:0px;" class="table  table-bordered ">
                                          <thead>
                                        <tr>
                                          <th  class="back" style="background: #96a9a92b;font-weight: 600;font-size: 12px;width:40%;"><span>Min: 100 </span> <br><span>Max: 5000000</span></th>
                                          <th  class="back"colspan="1" style="background:#72bbef; text-align: center; font-size: 13px;width:30%;padding-bottom: 14px;"> <span>BACK</span></th>
                                          <th  class="back"colspan="1" style="background:#ffb0be; text-align: center; font-size: 13px;width:30%;"><span>LAY </span></th>
                                        </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td  class="data"style=" background: #96a9a95e"><span> Player 8</span> <br><span> 0</span></td>
                                                        <td colspan="1" style="background:#72bbef; "><span><b>1.98</b></span><br><span> 10000000</span></td>
                                                        <td colspan="1" style="background:#ffb0be;"><span><b>1.62</b></span><br><span>10000000</span></td>
                                                       
                                                      </tr>
                                                      <tr>
                                                          <td  class="data"style="background: #96a9a95e"><span>Player 9</span> <br><span> 0</span></td>
                                                          <td colspan="1"  style="background:#72bbef;"><span><b>1.98</b></span><br><span>10000000</span></td>
                                                          <td colspan="1" style="background:#ffb0be;;"><span><b>1.72</b></span><br><span>10000000</span></td>
                                                         
                                                        </tr>
                                                        <tr>
                                                                <td  class="data"style="background: #96a9a95e"><span>Player 10</span> <br><span> 0</span></td>
                                                                <td colspan="1"  style="background:#72bbef;"><span><b>1.98</b></span><br><span>10000000</span></td>
                                                                <td colspan="1" style="background:#ffb0be;;"><span><b>1.72</b></span><br><span>10000000</span></td>
                                                               
                                                              </tr>
                                                              <tr>
                                                                    <td  class="data"style="background: #96a9a95e"><span>Player 11</span> <br><span> 0</span></td>
                                                                    <td colspan="1"  style="background:#72bbef;"><span><b>1.98</b></span><br><span>10000000</span></td>
                                                                    <td colspan="1" style="background:#ffb0be;;"><span><b>1.72</b></span><br><span>10000000</span></td>
                                                                   
                                                                  </tr>
                                                     
                                       
                                                     
                                            </tbody>
                                    </table>
                                 
                                       </div>
                                      
    
                                      
                                     
                                       <div class="tab-head">
                                        Last Result
                                         <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 15px; font-weight: 300;">  View All</a> 
                                  </div>
    
                                  
                                  <div class="balls">
                                    <p class="text-right">
                                      <span class="runs" style="color: #ff3; margin-right: 5px;">
                                        <span>9</span> </span>
                                        <span class="runs" style="color: #ff3; margin-right: 5px;">
                                          <span>11</span>
                                         </span>
                                         <span class="runs" style="color: #ff3; margin-right: 5px;"> 
                                           <span>11</span> </span>
                                           <span class="runs" style="color: #ff3; margin-right: 5px;">
                                             <span>11</span> </span>
                                             <span class="runs" style="color: #ff3; margin-right: 5px;">
                                               <span>11</span>
                                             </span>
                                             <span class="runs" style="color: #ff3; margin-right: 5px;">
                                               <span>11</span>
                                             </span>
                                             <span class="runs" style="color: #ff3;margin-right: 5px;">
                                               <span>11</span>
                                             </span>
                                             <span class="runs" style="color: #ff3;margin-right: 5px;">
                                                <span>11</span>
                                               </span>
                                               <span class="runs" style="color: #ff3;margin-right: 5px;">
                                                 <span>11</span> 
                                                 </span>
                                                 <span class="runs" style="color: #ff3;margin-right: 5px;">
                                                   <span>9</span>
                                                 </span>
                                               </p>
                                             </div>
                       
    
               
    
                                         
                                         
                                       
                                        </div>   
                                          
                                            
                            
                                 
                            
                    </div>
                        <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
                          <div class=" tab-content" style=" margin-top: 20px;" >
                            <table class="tbldsk table table-striped  m-b-none text-small">
                            <thead>
                            <tr>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">Nation</th>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">ODDS</th>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">Amount</th>
                            </tr>
                            </thead>
                            <tbody id="matched"></tbody>
                            </table>
                        </div>
                      </div>
              
                </div>
            </div>
    
    
               
           </div>
           
    
    

    
    
    
    
