

      
        <app-header></app-header>

        <div class="panel">
       

           <div id="navbar-example">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
                </li>
               
               
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                        <div class="tab-head">
                          <span class="head-title" style="    font-size: 17px;" >
                            
                                     20-20 LIVE POKER      
                            <small  data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
                            <div class="text-right" ><small style="font-size: 13px;  font-weight: 400;"><b>Round ID:</b>192811113155</small></div>
                         </div>
                         <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="width: 300px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLongTitle"style="color: black;     font-weight: 300;">Rules</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body"style="color: black;">
                                    <img src="/assets/images/poker-rules.jpeg" class="img-fluid" style="height: 354px; width: 266px;">
                                    </div>
                                  </div>
                                  </div>
                         </div>

                            
                                <div id="playerDiv" style="width: 100%; overflow: hidden; position: relative; background-color: black;">
                                  
                                <div class="video-overlay" style="display: block;">
                                  <div class="card-inner" style="display: flex;">
                                    
                                      <div>
                                            <h3 class="text-white" style="color: #fff;">player a</h3>
                                          <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                        
                                    </div>
                                    
                                      <div style="    padding-left: 26px;"> 
                                            <h3 class="text-white" style="color: #fff;">player b</h3>
                                            <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                        
                                    </div>
                                  </div>

                                  <div class="card-inner">
                                    <h3 class="text-white" style="color: #fff;">board</h3>
                                    <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                      <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                      <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                      <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                      <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                  </div>
                                </div>
                            </div>
                                   

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
                                  
                                    <div class="iframe"><iframe style="border: none;    height: 200px;" src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
                                    </iframe>

                                  </div>
                               
                                  </div>

                                  <div class="card-content">
                         
                                  <div class="table">
                                    <table style="margin-top:0px;margin-bottom:0px;" class="table  table-bordered ">
                                      <thead>
                                    <tr>
                                      <th  class="back" style="background:#d8dfdf66;font-weight: 600;font-size: 12px;width:40%;"><span>Min: 100</span> <br><span>Max: 1000000</span></th>
                                      <th  class="back"colspan="1" style="background:#72bbef; text-align: center; font-size: 13px;width:30%;padding-bottom: 14px;"><span>Player A</span></th>
                                      <th  class="back"colspan="1" style="background:#72bbef; text-align: center; font-size: 13px;width:30%; padding-bottom: 14px;"><span>Player B</span></th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td  class="data"style=" background: #96a9a95e"><span> Winner</span> </td>
                                                    <td colspan="1" style="background:#72bbef; "><span><b>1.98</b></span><br><span>0</span></td>
                                                    <td colspan="1" style="background:#72bbef;"><span><b>1.98</b></span><br><span>0</span></td>
                                                 
                                                   
                                                  </tr>
                                                  <tr>
                                                      <td  class="data"style="background: #96a9a95e"><span> One Pair</span> </td>
                                                      <td colspan="1"  style="background:#72bbef;"><span><b>2.00</b></span><br><span>0</span></td>
                                                      <td colspan="1" style="background:#72bbef;;"><span><b>2.00</b></span><br><span>0</span></td>
                                                      
                                                    </tr>
                                                    <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Two Pair</span> </td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>3.75</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>3.75</b></span><br><span>0</span></td>
                                                      
                                                      </tr>
                                                      <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Three of a Kind</span> </td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>16.00</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>16.00</b></span><br><span>0</span></td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Straight</span></td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>16.00</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>16.00</b></span><br><span>0</span></td>
                                                       
                                                      </tr>
                                                      <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Flush</span> </td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>26.00</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>26.00</b></span><br><span>0</span></td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Full House</span> </td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>29.00</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>29.00</b></span><br><span>0</span></td>
                                                     
                                                      </tr>
                                                      <tr>
                                                        <td  class="data"style="background: #96a9a95e"><span>Full of a Kind</span></td>
                                                        <td colspan="1"  style="background:#72bbef;"><span><b>251.00</b></span><br><span>0</span></td>
                                                        <td colspan="1" style="background:#72bbef;;"><span><b>251.00</b></span><br><span>0</span></td>
                                                      
                                                      </tr>
                                                      <tr>
                                                            <td  class="data"style="background: #96a9a95e"><span>Straight Flush</span> </td>
                                                            <td colspan="1"  style="background:#72bbef;"><span><b>501.00</b></span><br><span>0</span></td>
                                                            <td colspan="1" style="background:#72bbef;;"><span><b>501.00</b></span><br><span>0</span></td>
                                                          
                                                          </tr>
                                                 
                                        </tbody>
                                </table>
                             
                                   </div>




                   

                                      <div class="row3">
                                        

                                                   <div class="tab-head">
                                                    Last Result
                                                     <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 15px; font-weight: 300;">  View All</a> 
                                              </div>



                                                     <div class="balls">
                                                       <p class="text-right">
                                                         <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                           <span>A</span> </span>
                                                           <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                             <span>A</span>
                                                            </span>
                                                            <span class="runs" style="color: #ff4500; margin-right: 5px;"> 
                                                              <span>A</span> </span>
                                                              <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                <span>A</span> </span>
                                                                <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                  <span>A</span>
                                                                </span>
                                                                <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                  <span>A</span>
                                                                </span>
                                                                <span class="runs" style="color: #ff3;margin-right: 5px;">
                                                                  <span>B</span>
                                                                </span>
                                                                <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                   <span>A</span>
                                                                  </span>
                                                                  <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                    <span>A</span> 
                                                                    </span>
                                                                    <span class="runs" style="color: #ff3;margin-right: 5px;">
                                                                      <span>T</span>
                                                                    </span>
                                                                  </p>
                                                                </div>
                                    
                                      </div>

                                     
                                     
                                   
                                    </div>   
                                      
                                        
                        
                             
                        
                </div>
                    <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
                      <div class=" tab-content" style=" margin-top: 20px;" >
                        <table class="tbldsk table table-striped  m-b-none text-small">
                        <thead>
                        <tr>
                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">Nation</th>
                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">ODDS</th>
                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">Amount</th>
                        </tr>
                        </thead>
                        <tbody id="matched"></tbody>
                        </table>
                    </div>
                  </div>
          
            </div>
        </div>


           
       </div>
       




