
                  
            <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;" class="pull-left">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>
              <ul class="list-group">
                      <li class="list-group-item" style="    border-top-width: 0px;">
                      <div> <a [routerLink]="'/election'" class="h5">
                      <div class="media">
                      <div class="media-body">     
                       <div style=" float:left;">
                            <span style="font-size:12px;">ELECTION&nbsp;&nbsp;&nbsp;9/20/2019 11:30:00 PM</span>
                            <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                            <span style="color:#0f8a0f;"> Assembly Election</span> /
                            <span style="color:#FF0000">MATCH_ODDS</span>
                      </div>
                      <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i>
                      </span>
                      </div>
                      </div>
                      </a>
                      </div>
                      </li>

                      <li class="list-group-item">
                     <div> <a [routerLink]="'/cricket'" class="h5">
                      <div class="media">
                      <div class="media-body">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/21/2019 5:30:00 AM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Australia v Pakistan (1st Test)</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                      <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i>
                      </span>
                      </div>
                      </div>
                      </a>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/21/2019 3:30:00 AM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> New Zealand v England (1st Test)</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                       <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/20/2019 4:30:00 AM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Tas Tigers v NSW Blues</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 11:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Guyana v Windward Islands</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                        <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 6:30:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;">Combined Campuses &amp; Colleges v Leeward Islands</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                        <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 11:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> West Indies Emerging Team v USA</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 5:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Kolar v Mager</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                        <div class="media-body">
                          <div> <a href="" class="h5">
                              <div style=" float:left;">
                                  <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 9:30:00 PM</span>
                                  <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                  <span style="color:#0f8a0f;">  Martin v Marco Moroni</span> /
                                  <span style="color:#FF0000">MATCH_ODDS</span>
                            </div>
                            <span style="padding-right:30px;" class="pull-right">
                            <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                          </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5 ">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 7:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Milojevic v Bonadio</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5 ">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 3:30:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;">  Vavassori v Durasovic</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span>
                      </a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 5:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;">  P Kotov v Karatsev</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                        <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5 ">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 7:00:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;">Ortega-Olmedo v Borges</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">TENNIS&nbsp;&nbsp;&nbsp;11/19/2019 8:30:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Marcora v Arnaboldi</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5">
                          <div style=" float:left;">
                              <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 8:30:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;">Oman v India</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                      <div class="media">
                      <div class="media-body">
                      <div> <a href="" class="h5 ">
                          <div style=" float:left;">
                              <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 2:30:00 PM</span>
                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                              <span style="color:#0f8a0f;"> Nepal v Kuwait</span> /
                              <span style="color:#FF0000">MATCH_ODDS</span>
                        </div>
                         <span style="padding-right:30px;" class="pull-right">
                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                      </div>
                      </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                        <div class="media-body">
                        <div> <a href="" class="h5 ">
                            <div style=" float:left;">
                                <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 10:00:00 PM</span>
                                <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                <span style="color:#0f8a0f;"> Saudi Arabia v Paraguay</span> /
                                <span style="color:#FF0000">MATCH_ODDS</span>
                          </div>
                           <span style="padding-right:30px;" class="pull-right">
                          <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                        </div>
                        </div>
                        </li>


                        <li class="list-group-item">
                          <div class="media">
                          <div class="media-body">
                          <div> <a href="" class="h5 ">
                              <div style=" float:left;">
                                  <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 10:30:00 PM</span>
                                  <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                  <span style="color:#0f8a0f;">Croatia v Georgia</span> /
                                  <span style="color:#FF0000">MATCH_ODDS</span>
                            </div>
                             <span style="padding-right:30px;" class="pull-right">
                            <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                          </div>
                          </div>
                          </li>
                          <li class="list-group-item">
                            <div class="media">
                            <div class="media-body">
                            <div> <a href="" class="h5 ">
                                <div style=" float:left;">
                                    <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 3:55:00 PM</span>
                                    <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                    <span style="color:#0f8a0f;">  Japan v Venezuela</span> /
                                    <span style="color:#FF0000">MATCH_ODDS</span>
                              </div>
                               <span style="padding-right:30px;" class="pull-right">
                              <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                            </div>
                            </div>
                            </li>
                            <li class="list-group-item">
                              <div class="media">
                              <div class="media-body">
                              <div> <a href="" class="h5 ">
                                  <div style=" float:left;">
                                      <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/19/2019 7:00:00 PM</span>
                                      <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                      <span style="color:#0f8a0f;"> Brazil v South Korea</span> /
                                      <span style="color:#FF0000">MATCH_ODDS</span>
                                </div>
                                 <span style="padding-right:30px;" class="pull-right">
                                <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                              </div>
                              </div>
                              </li>
                              <li class="list-group-item">
                                <div class="media">
                                <div class="media-body">
                                <div> <a href="" class="h5 ">
                                    <div style=" float:left;">
                                        <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                        <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                        <span style="color:#0f8a0f;">Scotland v Kazakhstan</span> /
                                        <span style="color:#FF0000">MATCH_ODDS</span>
                                  </div>
                                   <span style="padding-right:30px;" class="pull-right">
                                  <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                </div>
                                </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="media">
                                  <div class="media-body">
                                  <div> <a href="" class="h5 ">
                                      <div style=" float:left;">
                                          <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                          <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                          <span style="color:#0f8a0f;"> Wales v Hungary</span> /
                                          <span style="color:#FF0000">MATCH_ODDS</span>
                                    </div>
                                     <span style="padding-right:30px;" class="pull-right">
                                    <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                  </div>
                                  </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="media">
                                    <div class="media-body">
                                    <div> <a href="" class="h5 ">
                                        <div style=" float:left;">
                                            <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                            <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                            <span style="color:#0f8a0f;">  Belgium v Cyprus</span> /
                                            <span style="color:#FF0000">MATCH_ODDS</span>
                                      </div>
                                       <span style="padding-right:30px;" class="pull-right">
                                      <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                    </div>
                                    </div>
                                    </li>
                                    <li class="list-group-item">
                                      <div class="media">
                                      <div class="media-body">
                                      <div> <a href="" class="h5 ">
                                          <div style=" float:left;">
                                              <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                              <span style="color:#0f8a0f;">Netherlands v Estonia</span> /
                                              <span style="color:#FF0000">MATCH_ODDS</span>
                                        </div>
                                         <span style="padding-right:30px;" class="pull-right">
                                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                      </div>
                                      </div>
                                      </li>
                                      <li class="list-group-item">
                                        <div class="media">
                                        <div class="media-body">
                                        <div> <a href="" class="h5 ">
                                            <div style=" float:left;">
                                                <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                <span style="color:#0f8a0f;">Latvia v Austria</span> /
                                                <span style="color:#FF0000">MATCH_ODDS</span>
                                          </div>
                                           <span style="padding-right:30px;" class="pull-right">
                                          <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                        </div>
                                        </div>
                                        </li>
                                        <li class="list-group-item">
                                          <div class="media">
                                          <div class="media-body">
                                          <div> <a href="" class="h5 ">
                                              <div style=" float:left;">
                                                  <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                  <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                  <span style="color:#0f8a0f;"> Slovakia v Azerbaijan</span> /
                                                  <span style="color:#FF0000">MATCH_ODDS</span>
                                            </div>
                                             <span style="padding-right:30px;" class="pull-right">
                                            <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                          </div>
                                          </div>
                                          </li>
                                          <li class="list-group-item">
                                            <div class="media">
                                            <div class="media-body">
                                            <div> <a href="" class="h5 ">
                                                <div style=" float:left;">
                                                    <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                    <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                    <span style="color:#0f8a0f;"> Germany v Northern Ireland</span> /
                                                    <span style="color:#FF0000">MATCH_ODDS</span>
                                              </div>
                                               <span style="padding-right:30px;" class="pull-right">
                                              <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                            </div>
                                            </div>
                                            </li>
                                            <li class="list-group-item">
                                              <div class="media">
                                              <div class="media-body">
                                              <div> <a href="" class="h5 ">
                                                  <div style=" float:left;">
                                                      <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                      <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                      <span style="color:#0f8a0f;">San Marino v Russia</span> /
                                                      <span style="color:#FF0000">MATCH_ODDS</span>
                                                </div>
                                                 <span style="padding-right:30px;" class="pull-right">
                                                <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                              </div>
                                              </div>
                                              </li>
                                              <li class="list-group-item">
                                                <div class="media">
                                                <div class="media-body">
                                                <div> <a href="" class="h5 ">
                                                    <div style=" float:left;">
                                                        <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                        <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                        <span style="color:#0f8a0f;">  North Macedonia v Israel</span> /
                                                        <span style="color:#FF0000">MATCH_ODDS</span>
                                                  </div>
                                                   <span style="padding-right:30px;" class="pull-right">
                                                  <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                </div>
                                                </div>
                                                </li>
                                                <li class="list-group-item">
                                                  <div class="media">
                                                  <div class="media-body">
                                                  <div> <a href="" class="h5 ">
                                                      <div style=" float:left;">
                                                          <span style="font-size:12px;">FOOTBALL&nbsp;&nbsp;&nbsp;11/20/2019 1:15:00 AM</span>
                                                          <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                          <span style="color:#0f8a0f;">  Poland v Slovenia</span> /
                                                          <span style="color:#FF0000">MATCH_ODDS</span>
                                                    </div>
                                                     <span style="padding-right:30px;" class="pull-right">
                                                    <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                  </div>
                                                  </div>
                                                  </li>
                                                  <li class="list-group-item">
                                                    <div class="media">
                                                    <div class="media-body">
                                                    <div> <a href="" class="h5 ">
                                                        <div style=" float:left;">
                                                            <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/20/2019 9:00:00 PM</span>
                                                            <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                            <span style="color:#0f8a0f;"> Nelson Mandela Bay Giants v Cape Town Blitz</span> /
                                                            <span style="color:#FF0000">MATCH_ODDS</span>
                                                      </div>
                                                       <span style="padding-right:30px;" class="pull-right">
                                                      <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                    </div>
                                                    </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                      <div class="media">
                                                      <div class="media-body">
                                                      <div> <a href="" class="h5 ">
                                                          <div style=" float:left;">
                                                              <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/21/2019 9:00:00 PM</span>
                                                              <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                              <span style="color:#0f8a0f;"> Tshwane Spartans v Durban Heat</span> /
                                                              <span style="color:#FF0000">MATCH_ODDS</span>
                                                        </div>
                                                         <span style="padding-right:30px;" class="pull-right">
                                                        <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                      </div>
                                                      </div>
                                                      </li>
                                                      <li class="list-group-item">
                                                        <div class="media">
                                                        <div class="media-body">
                                                        <div> <a href="" class="h5 ">
                                                            <div style=" float:left;">
                                                                <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 7:15:00 PM</span>
                                                                <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                                <span style="color:#0f8a0f;">  Delhi Bulls v Northern Warriors</span> /
                                                                <span style="color:#FF0000">MATCH_ODDS</span>
                                                          </div>
                                                           <span style="padding-right:30px;" class="pull-right">
                                                          <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                        </div>
                                                        </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                          <div class="media">
                                                          <div class="media-body">
                                                          <div> <a href="" class="h5 ">
                                                              <div style=" float:left;">
                                                                  <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 9:30:00 PM</span>
                                                                  <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                                  <span style="color:#0f8a0f;"> Bangla Tigers v Abu Dhabi</span> /
                                                                  <span style="color:#FF0000">MATCH_ODDS</span>
                                                            </div>
                                                             <span style="padding-right:30px;" class="pull-right">
                                                            <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                          </div>
                                                          </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                            <div class="media">
                                                            <div class="media-body">
                                                            <div> <a href="" class="h5 ">
                                                                <div style=" float:left;">
                                                                    <span style="font-size:12px;">CRICKET&nbsp;&nbsp;&nbsp;11/19/2019 5:00:00 PM</span>
                                                                    <span style="font-size:14px; color:#FF0000;">&nbsp;&nbsp;&nbsp;</span><br>
                                                                    <span style="color:#0f8a0f;"> Deccan Gladiators v Qalandars</span> /
                                                                    <span style="color:#FF0000">MATCH_ODDS</span>
                                                              </div>
                                                               <span style="padding-right:30px;" class="pull-right">
                                                              <i class="fa fa-chevron-circle-right" style="font-size:22px;color:#3a5a7a"></i></span></a> </div>
                                                            </div>
                                                            </div>
                                                            </li>
                      </ul>

                    </div>
