
        
    <app-header></app-header>

            <div class="panel">
           

               <div id="navbar-example">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
                    </li>
                   
                   
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                            <div class="tab-head">
                              <span class="head-title" style="    font-size: 18px;
                              font-weight: bold;" ></span>
                             
                                        INSTANT WORLI
                                <div class="text-right" ><small style="font-size: 13px;  font-weight: 400;"><b>Round ID:</b>192811113155</small></div>
                             </div>


                                
                                    <div id="playerDiv" style="width: 100%; overflow: hidden; position: relative; background-color: black;">
                                            <div class="video-overlay" style="display: block;">
                                                    <div class="card-inner">
                                                        <h3 class="text-white" style="color: #fff;">cards</h3>
                                                        <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                                            <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                                            <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                                        </div>
                                                    </div>
                                                    </div>
                                                           

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
                                        <div class="iframe"><iframe style="border: none;    height: 200px;" src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
                                        </iframe>

                                      </div>
                                   
                                      </div>

                                     
                                            <div class="tab-head" style= "height: 35px;">
                                           
                                              <a [routerLink]="''" style="float: right;  color: #fff;  font-size: 13px;
                                              font-weight: 400;"> Min:100 Max:200000</a> 
                                       </div>
                                       
                                       <div class="card-content">
                                           
                                                            <div class="tab-content">
                                                                    <div class="tab-pane active" id="single">
                                                                    <div class="card-content m-t-0">
                                                                    <div class="table-responsive m-b-10">
                                                                    <table class="table table-bordered ">
                                                                    <tbody>
                                                                    <tr>
                                                                    <th colspan="5" class="text-center">9</th>
                                                                    </tr>
                                                                    <tr class="back" data-toggle="modal" data-target="#exampleModalLong">
                                                                    <td class="bet-action">
                                                                    <span class="card-number">1</span>
                                                                    </td>
                                                                    <td class="bet-action" >
                                                                    <span class="card-number">2</span>
                                                                    </td>
                                                                    <td class="bet-action" >
                                                                    <span class="card-number">3</span>
                                                                    </td>
                                                                    <td class="bet-action" >
                                                                    <span class="card-number">4</span>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class="card-number">5</span>
                                                                    </td>
                                                                    </tr>
                                                                    <tr class="back" data-toggle="modal" data-target="#exampleModalLong">
                                                                    <td class="bet-action" >
                                                                    <span class="card-number">6</span>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class="card-number">7</span>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class="card-number">8</span>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class="card-number">9</span>
                                                                    </td>
                                                                    <td class="bet-action" >
                                                                    <span class="card-number">0</span>
                                                                    </td>
                                                                    </tr>
                                                                    </tbody>
                                                                    </table>
                                                                    <table class="table table-bordered ">
                                                                    <tbody>
                                                                    <tr>
                                                                    <th colspan="5" class="text-center">9</th>
                                                                    </tr>
                                                                    <tr class="back" data-toggle="modal" data-target="#exampleModalLong">
                                                                    <td class="bet-action">
                                                                    <span class=" line-odd-even"><b>Line 1</b></span>
                                                                     <p>1|2|3|4|5</p>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class=" line-odd-even"><b>Odd</b></span>
                                                                    <p>1|3|5|7|9</p>
                                                                    </td>
                                                                    <td class="bet-action">
                                                                    <span class="line-odd-even"><b>Even</b></span>
                                                                    <p>2|4|6|8|0</p>
                                                                    </td>
                                                                    <td class="bet-action" >
                                                                    <span class="line-odd-even"><b>Line 2</b></span>
                                                                    <p>6|7|8|9|0</p>
                                                                    </td>
                                                                    
                                                                    </tr>
                                                                    </tbody>
                                                                    </table>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                    </div>


                                        <!-- <marquee  class="text-right text-info" scrollamount="3">Payout : Bahar 1st Card 25% and All Other Andar-Bahar Cards 100%.</marquee> -->
                               


                                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document" style="width: 300px; background: rgb(114, 187, 239);">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                <h4 id="teamname">2 Signle</h4>
                                                <hr>
                                               
                                                <form>
                                                        <div class="label2"style="    padding-bottom: 10px;" >
                                                                <label style=" padding-right: 40px;  ">
                                                                ODDS
                                                                </label>
                                                                <div style="  display: contents;">
                                                                <input class=" btn-white" field="odds" type="button" value="-">
                                                                <input class="amountint" placeholder="9">
                                                                <input class=" btn-white" field="odds" type="button" value="+">
                                                                
                                                                </div>
                                                         </div>
                                                
                                                        <div class="label2">
                                                                <label style="padding-right: 27px;">
                                                                Amount
                                                                </label>
                                                                <div  style="  display: contents;">
                                                                        <!-- <input type="text" id="demo" style="    color: black;"> -->
                                                                        <input id="demo" style="width: 153px; color: black;" maxlength="10" required="required" type="text">
                                                                
                                                                </div>
                                                                </div>

                                                <div class="btndiv">
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="1000" id="myBtn" (click)="myFunction()">
                                                1000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="5000">
                                                5000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="10000">
                                                10000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="25000">
                                                25000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="50000">
                                                50000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="100000">
                                                100000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="200000">
                                                200000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="500000">
                                                500000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="1000000">
                                                1000000 </button>
                                                </div>
                                                <div class="btn-group">
                                                <button class="btns btn" type="button" value="2500000"  id="myBtn" (click)="myFunction()">
                                                2500000 </button>
                                                </div>
                                                </div>
                                               
                                                <div class="last-btn">
                                              <button class="btn btn-danger" style="    color: #fff;
                                              background-color: #ff5f5f;margin-left: 4px;">
                                                Cancel
                                                </button>
                                                <button class="btn btn-primary" type="submit" value="" style="color: #fff;
                                                background-color: #13c4a5; margin-left: 4px;">
                                                Place Bet
                                                </button>
                                  
                                        
                                                </div>
                                                </form>
                                                </div>
                                          </div>

                       

                                          <div class="row3">
                                                  

                                                       <div class="tab-head">
                                                       <a style="font-size: 12px;  color: #fff;  font-weight: 300;"> Last Result</a>
                                                         <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 15px; font-weight: 300;">  View All</a> 
                                                  </div>



                                                         <div class="balls">
                                                           <p class="text-right"  data-toggle="modal" data-target="#ballsmodeling">
                                                             <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                               <span>R</span> </span>
                                                               <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                 <span>R</span>
                                                                </span>
                                                                <span class="runs" style="color: #ff4500; margin-right: 5px;"> 
                                                                  <span>R</span> </span>
                                                                  <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                    <span>R</span> </span>
                                                                    <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                      <span>R</span>
                                                                    </span>
                                                                    <span class="runs" style="color: #ff4500; margin-right: 5px;">
                                                                      <span>R</span>
                                                                    </span>
                                                                    <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                      <span>R</span>
                                                                    </span>
                                                                    <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                       <span>R</span>
                                                                      </span>
                                                                      <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                        <span>R</span> 
                                                                        </span>
                                                                        <span class="runs" style="color: #ff4500;margin-right: 5px;">
                                                                          <span>R</span>
                                                                        </span>
                                                                      </p>
                                                                    </div>
                                                                    <div class="modal fade" id="ballsmodeling" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document" style="width: 300px; background: #fff;">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                  </button>

                                                                                  <h4 class="modal-title" style="padding-bottom: 28px;">Instant Worli Result</h4>  
                                                                                  <span class="float-right round-id"><b>Round ID:</b> 191012135506</span>
                                                                                           
                                                                                                
                                                                                                <div class="player-image-container row" style="    padding-top: 17px;">
                                                                                                    
                                                                                                    <div class="col-md-12 text-center">
                                                                                                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/ASS.png">
                                                                                                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/8DD.png">
                                                                                                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/5HH.png">
                                                                                                    </div>
                                                                                                    
                                                                                                    <div class="col-md-12 text-center" style="background-color: #3fcf7f;font-size: 16px;color: #fff; margin-top: 20px;">
                                                                                                        <label >158 - 4</label>
                                                                                                    </div>
                                                                                                    
                                                                                                </div>
                                                                                       
                                                                                           
                                                                                     
                                                                                        
                                                                        </div>
                                                                        </div>
                                        
                                          </div>

                                         
                                         
                                       
                                        </div>   
                                          
                                            
                            
                                 
                            
                    </div>
                        <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
                          <div class=" tab-content" style=" margin-top: 20px;" >
                            <table class="tbldsk table table-striped  m-b-none text-small">
                            <thead>
                            <tr>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">Nation</th>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">ODDS</th>
                            <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">Amount</th>
                            </tr>
                            </thead>
                            <tbody id="matched"></tbody>
                            </table>
                        </div>
                      </div>
              
                </div>
            </div>


               
           </div>
           









