<app-header></app-header>


    <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>


           <div class="form">
                <h4 style="text-align:center">Casino Result Report</h4>
                <div class="tab1">
                  <div class="col-lg-5" style="float: right;">
                  <div class="col-xs-12 col-12 col-md-4 form-group" style="margin-top: 10px;">
                          <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                            [bsConfig]="{ isAnimated: true }">
                        </div>
              
              
              
                        <form style="padding-left: 20px;    margin: 10px;display: flex;">
                          <select name="cars" style="width: 182px;
                              height: 29px;">
                           <option value="teen">1 Day Teenpatti</option>
                           <option value="teen9">Test Teenpatti</option>
                           <option value="teen20">20-20 Teenpatti</option>
                           <option value="teen8">Open Teenpatti</option>
                           <option value="poker">1 Day Poker </option>
                           <option value="poker20">20-20 Poker</option>
                           <option value="poker9">6 Player Poker</option>
                           <option value="ab20">Andar Bahar Casino</option>
                           <option value="worli">Worli Matka</option>
                           <option value="worli2">Instant Worli</option>
                           <option value="3cardj">3 Cards Judgement</option>
                           <option value="card32">32 Cards Casino</option>
                           <option value="lucky7">Lucky 7</option>
                           <option value="dt20">Dragon Tiger</option>
                           <option value="aaa">Amar Akbar Anthoni</option>
                           <option value="btable">Bollywood Table</option>
                           <option value="card32eu">Card 32 Europe</option>
                           <option value="card32as">Card 32 Asia</option>
                          </select>
                          <input type="submit" value="Submit" style="    margin-left: 16px;
                                color: #fff;
                                background-color: #13c4a5;
                              border: 1px solid;
                              border-radius: 5px;
                              width: 64px;
                              height: 31px;
                              border-width: 0;
                                text-shadow: none;
                                box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
                                font-weight: 500;
                                padding: 9px 12px; ">
                        </form>
                      </div>
                    </div>

                  <div class=" tab" style=" margin-top: 20px;" >
                    <table class="table table-bordered" cellspacing="0" width="100%">
                      <thead>
                      <tr>
                      <th width="30%">Round Id</th>
                      <th width="70%">Winner</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td colspan="8">No Result</td>
                      </tr>
                      </tbody>
                      </table>
            </div>
               
           </div>
          
     </div>



