<app-header></app-header>

            <div class="panel">
            <div class="clearfix"> 
                <a href="javascript:history.go(-1)">
                <span style="padding-right:30px;" class="pull-left">
                <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
               </div>
               <div id="navbar-example">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#experience" role="tab">Unmatched</a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                            <div class="tab-head">
                                    Assembly Election &gt; MATCH_ODDS
                                    <a id="circle" data-toggle="modal" data-target="#exampleModalLong"style="float: right;    font-size: 16px;"><span><i class="fa fa-info-circle "></i></span></a>
                                    <a id="showtv" style="float: right;"><i class="fa fa-tv"></i></a>
                             </div>
     <div class="tab-content">
       <div class="tablesmall"> 
        <table class="table table-bordered" style="margin-bottom: 0px;">
            <tr style=" border: 1px solid white;">
                <th colspan="2" style=" border: 1px solid white;background:white; border-bottom: 1px solid #e0e4e8;"></th>
                <th style=" border: 1px solid #e0e4e8;text-align: center;">0</th>
                
                </tr>
                <tr>
                <td style=" color:red;  border-collapse: collapse; padding: 6px;  text-align: center; border-bottom: 1px solid #e0e4e8; " ><b>Max Bet Limit 1.00</b></td>
                <td style="color:black;background:#72bbef; color:#6b6767; border-collapse: collapse;   padding: 6px;  border-bottom: 1px solid #e0e4e8;text-align: center; "><b>Back</b></td>
                <td style=" background:#ffb0be; color:#6b6767;  padding: 6px;  border-bottom: 1px solid#e0e4e8;text-align: center; "><b>Lay</b></td>    
                </tr>
        
                <tr>
                <td style=" color:#6b6767; border-collapse: collapse;  padding: 6px;  text-align: center; border-bottom: 1px solid #e0e4e8; "><b>BJP<br>0</b></td>
                <td style="background:#72bbef;" ></td>
                <td style="background:#ffb0be;"></td> 
                </tr>
        
                <tr>
                <td style=" color:#6b6767;  border-collapse: collapse; padding: 6px; text-align: center; border-bottom: 1px solid #e0e4e8; "><b>CONG<br>0</b></td>
                <td style=" border: 1px solid #e0e4e8; background:#72bbef;"></td>
                <td style=" border: 1px solid #e0e4e8; background:#ffb0be;"></td>
                </tr>
          </table>   
        </div>         
      <!-- <table class="tbldsk table table-striped  m-b-none text-small">
        <tr style=" border: 1px solid white;">
        <th colspan="2" style=" border: 1px solid white;background:white; border-bottom: 1px solid #e0e4e8;"></th>
        <th style=" border: 1px solid #e0e4e8;text-align: center;">0</th>
        
        </tr>
        <tr>
        <td style=" color:red;  border-collapse: collapse; padding: 6px;  text-align: center; border-bottom: 1px solid #e0e4e8; " ><b>Max Bet Limit 1.00</b></td>
        <td style="color:black;background:#72bbef; color:#6b6767; border-collapse: collapse;   padding: 6px;  border-bottom: 1px solid #e0e4e8;text-align: center; "><b>Back</b></td>
        <td style=" background:#ffb0be; color:#6b6767;  padding: 6px;  border-bottom: 1px solid#e0e4e8;text-align: center; "><b>Lay</b></td>    
        </tr>

        <tr>
        <td style=" color:#6b6767; border-collapse: collapse;  padding: 6px;  text-align: center; border-bottom: 1px solid #e0e4e8; "><b>BJP<br>0</b></td>
        <td style="background:#72bbef;" ></td>
        <td style="background:#ffb0be;"></td> 
        </tr>

        <tr>
        <td style=" color:#6b6767;  border-collapse: collapse; padding: 6px; text-align: center; border-bottom: 1px solid #e0e4e8; "><b>CONG<br>0</b></td>
        <td style=" border: 1px solid #e0e4e8; background:#72bbef;"></td>
        <td style=" border: 1px solid #e0e4e8; background:#ffb0be;"></td>
        </tr>

        </table> -->


        <!-- ********** -->

        <div class="tab-head" >
            Fancy Market
            <a id="circle" data-toggle="modal" data-target="#exampleModalLong" style="float: right;    font-size: 16px;" >          
                <span> <i class="fa fa-info-circle"></i></span></a>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="width: 354px;">
                          <div class="modal-content">
                            <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"style="color: black;">Rules</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body"style="color: black;">
                                    <table class="table table-bordered">
                                            <tbody><tr>
                    <td class="m-b-5" style="color:#ff0000">1. All fancy bets will be validated when match has been tied.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">2. All advance fancy will be suspended before toss or weather condition.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">3. In case technical error or any circumstances any fancy is suspended and does not resume result will be given all 
    previous bets will be valid (based on haar/jeet).
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">4. If any case wrong rate has been given in fancy that particular bets will be cancelled.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">5. In any circumstances management decision will be final related to all exchange items.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">6. In case customer make bets in wrong fancy we are not liable to delete, no changes will be made and bets will be consider as confirm bet.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">7. Due to any technical error market is open and result has came all bets after result will be deleted.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">8. Manual bets are not accepted in our exchange
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">9.Our exchange will provide 5 second delay in our tv.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">10. Once our exchange give username and password it is your responsibility to change a 
      password.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">11. Penalty runs will not be counted in any fancy.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">12. Warning:- live scores and other data on this site is sourced from third party feeds and may be subject to time delays and/or be inaccurate. If you rely on this data to place bets, you do so at your own risk. Our exchange does not accept responsibility for loss suffered as a result of reliance on this data.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">13. Our exchange is not responsible for misuse of client id.
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">Test
                    </td>
                </tr>
                                <tr>
                    <td class="m-b-5" style="color:#ff0000">1 Session:-
                    </td>
                </tr>
                  
                               

                                        </tbody>
                                    
                                    </table>
                            </div>
                            <div class="modal-footer">
                              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                          </div>
                        </div>
                      </div>
          
     </div>


     <table style="margin-top:0px;margin-bottom:0px" class="table  table-striped">
            <thead>
                    <tr>
                        <th style="width:60%;border-right: none; border-bottom: 1px solid #ddd;"></th>
                        <th colspan="1" style="text-align: center;border: none;"><span>[No]</span></th>
                        <th colspan="1" style="text-align: center;border: none;"><span>[Yes]</span></th>
                      </tr>
              </thead>
    </table>
    <table style="margin-top:0px;margin-bottom:0px" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>
       
       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>
       
       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

       <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
            <thead>
                 <tr>
                     <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                     <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                     <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
                   </tr>
           </thead>
       </table>

        <div style="text-align: center;color: red;">Min: 10.00 Max: 100000.00</div>

       
<!-- ********** -->


<div class="tab-head">
        Khado Market
        <a id="circle" data-toggle="modal" data-target="#exampleModalLong" style="float: right;    font-size: 16px;">
            <span> <i class="fa fa-info-circle "></i></span></a>
      
 </div>
 <table style="margin-top:0px;margin-bottom:0px" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;border-right: none; border-bottom: 1px solid #ddd;"></th>
                 <th colspan="1" style="text-align: center;border: none;"><span>[No]</span></th>
                 <th colspan="1" style="text-align: center;border: none;"><span>[Yes]</span></th>
               </tr>
       </thead>
   </table>
 <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>
   <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>

   <!-- ********** -->
   
<div class="tab-head">
         Fancy1 Market
        <a id="circle" data-toggle="modal" data-target="#exampleModalLong" style="float: right;    font-size: 16px;">
            <span> <i class="fa fa-info-circle "></i></span></a>
      
 </div>
 <table style="margin-top:0px;margin-bottom:0px" class="table  table-striped">
 <thead>
      <tr>
          <th style="width:60%;border-right: none; border-bottom: 1px solid #ddd;"></th>
          <th colspan="1" style="text-align: center;border: none;"><span>[No]</span></th>
          <th colspan="1" style="text-align: center;border: none;"><span>[Yes]</span></th>
        </tr>
</thead>
</table>

<table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>
   <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>
   <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>
   <table style="margin-top:0px;margin-bottom:0px;" class="table  table-striped">
        <thead>
             <tr>
                 <th style="width:60%;text-align: center;">Match 1st over run (AUS vs PAK)adv<br><span style="color: red;"> 0</span></th>
                 <th colspan="1" style="text-align: center;background:#ffb0be;"><span>2</span><br><span>100</span></th>
                 <th colspan="1" style="text-align: center;background:#72bbef;"><span>3</span><br><span>100</span></th>
               </tr>
       </thead>
   </table>





    </div>                        
                            
                                   
                    </div>
                        <div class="tab-pane fade in " id="profile" name="attributes" role="tabpanel">
                                <div class=" tab-content" style=" margin-top: 20px;" >
                                        <table class="tbldsk table table-striped  m-b-none text-small">
                                        <thead>
                                        <tr>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">Nation</th>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">ODDS</th>
                                        <th style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody id="matched"></tbody>
                                        </table>
                                    </div>
                      </div>
                         <div class="tab-pane fade in " id="experience" name="attributes" role="tabpanel">
                                <div class=" tab-content" style=" margin-top: 20px;" >
                                  <div class="tbldsk">
                                    <button id="Clear" data-toggle="modal" data-target="#myModal"style="margin:2px 5px;" class="btn btn-small btn-danger">Clear All</button>
                                    </div>
                                    <div class="modal fade" id="myModal">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                        
                                          <!-- Modal Header -->
                                          <div class="modal-header" style="border-bottom-width: 0px;">
                                            <h4 class="modal-title">galexyexch9.com says</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          </div>
                                          
                                          <!-- Modal body -->
                                          <div class="modal-body">
                                      Remove all?
                                          </div>
                                          
                                          <!-- Modal footer -->
                                          <div class="modal-footer" style="border-top-width: 0px;">
                                              <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </div>
                                    <table class="tbldsk table table-striped  m-b-none text-small">
                                    <thead>
                                    <tr>
                                    <th style="border:solid 1px #e0e4e8;width:170px">Nation</th>
                                    <th style="border:solid 1px #e0e4e8;">ODDS</th>
                                    <th style="border:solid 1px #e0e4e8;">Amount</th>
                                    <th style="border:solid 1px #e0e4e8;width:20px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="unmatched"></tbody>
                                    </table>
                                    </div>
                            </div>
                </div>
            </div>


               
           </div>
      
           

        

