<div class="panel">


    <div id="navbar-example">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
            </li>


        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
                <div class="tab-head">
                    <span class="head-title" style="    font-size: 16px;">

                        6 PLAYER LIVE POKER
                        <small data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
                    <div class="text-right"><small style="font-size: 13px;  font-weight: 400;"><b>Round
                                ID:</b>192811113155</small></div>
                </div>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="width: 300px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle"
                                    style="color: black;     font-weight: 300;">Rules</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <img src="/assets/images/poker-rules.jpeg" class="img-fluid"
                                    style="height: 354px; width: 266px;">
                            </div>
                        </div>
                    </div>
                </div>


                <div id="playerDiv"
                    style="width: 100%;    height: 200px; overflow: hidden; position: relative; background-color: black;">
                    <div class="video-overlay" style="display: block;">
                        <div class="card-inner">

                            <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">

                            </div>
                        </div>
                    </div>
                           

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
                    <div class="iframe"><iframe style="border: none;    height: 200px;"
                            src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
                        </iframe>
                    </div>
                </div>

                <div class="card-content">

                    <!-- <div class="tab-head">
                                   
                                      <a id="circle" data-toggle="modal" data-target="#exampleModalLong"style="float: right;    font-size: 16px;"><span><i class="fa fa-info-circle "></i></span></a>
                                    
                               </div> -->




                    <div class="row" style="padding: 15px;">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" style="border: none;">
                            <li class="nav-item active">
                                <a class="nav-link1 " data-toggle="tab" href="#hands">Hands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link2 " data-toggle="tab" href="#patterns">Patterns</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="hands" name="hands" role="tabpanel">
                                <div class="row1">
                                    <div class="col-12">
                                        <div class="col-6">
                                            <div class="content">


                                                <table class="table table-bordered" style="width: 100%;">

                                                    <tbody>
                                                        <tr>
                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 1 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;"> 9 <img
                                                                            src="/assets/images/aa2.png"
                                                                            style="width:11px;height:15px;"></b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>


                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 2 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;">
                                                                        9</b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>

                                                        </tr><br>
                                                        <tr>
                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 3 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;">
                                                                        9</b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>
                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 4 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;">
                                                                        9</b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>

                                                        </tr>
                                                        <br>
                                                        <tr>
                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 5 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;">
                                                                        9</b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>
                                                            <td class="data">
                                                                <span class="float-left m-t-5">Player 6 </span> &nbsp;
                                                                &nbsp;<span><b> 6 <img src="/assets/images/aa3.png"
                                                                            style="width:11px;height:15px;">
                                                                        9</b></span><br>
                                                                <span class="float-left m-t-5"><b>4.41</b></span>
                                                                <p> <span><b>Min:</b>100</span>
                                                                    <span><b>Max:</b>200000</span>
                                                                </p>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="patterns" name="patterns" role="tabpanel">

                                <div class="content">
                                    <table style="margin-top:0px;margin-bottom:0px;"
                                        class="table  table-bordered tableborder">

                                        <tbody>
                                            <tr>
                                                <td class="data"><span>High Card</span> <br><span>
                                                        0</span>
                                                        <p> <span><b>Min:</b>100</span>
                                                            <span><b>Max:</b>200000</span>
                                                        </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Pair</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Two Pair</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                       
                                                </td>

                                            </tr>
                                            <tr class="small">
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                            </tr>
                                            <tr>
                                                <td class="data"><span>Three of a Kind</span> <br><span>
                                                        0</span>
                                                        <p> <span><b>Min:</b>100</span>
                                                            <span><b>Max:</b>200000</span>
                                                        </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Straight</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Flush</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr class="small">
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                            </tr>
                                            <tr>
                                                <td class="data"><span>Full House</span> <br><span>
                                                        0</span>
                                                        <p> <span><b>Min:</b>100</span>
                                                            <span><b>Max:</b>200000</span>
                                                        </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Four of a Kind</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                </td>
                                                <td class="data1" colspan="1"><span><b>Straight Flush</b></span><br><span>0</span>
                                                    <p> <span><b>Min:</b>100</span>
                                                        <span><b>Max:</b>200000</span>
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr class="small">
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                                <td class="smalltd"> <span>0</span></td>
                                            </tr>

                                        </tbody>
                                    </table>



                                    <!-- 
                                    <table class="table table-bordered" style="width: 100%;">

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="float-left m-t-5">High Card</span> &nbsp; &nbsp;<br>
                                                    <span class="float-left m-t-5"><b>4.41</b></span>
                                                    <span class=" float-left m-t-5">0</span>
                                                    <p class="m-b-0 m-t-5 text-right "><span><b>Min:</b>100</span>
                                                        <span class="m-l-5"><b>Max:</b>200000</span></p>
                                                </td>

                                                <td>
                                                    <span class="float-left m-t-5">High Card</span> &nbsp; &nbsp;<br>
                                                    <span class="float-left m-t-5"><b>4.41</b></span>
                                                    <span class=" float-left m-t-5">0</span>
                                                    <p class="m-b-0 m-t-5 text-right "><span><b>Min:</b>100</span>
                                                        <span class="m-l-5"><b>Max:</b>200000</span></p>
                                                </td>

                                                <td>
                                                    <span class="float-left m-t-5">High Card</span> &nbsp; &nbsp;<br>
                                                    <span class="float-left m-t-5"><b>4.41</b></span>
                                                    <span class=" float-left m-t-5">0</span>
                                                    <p class="m-b-0 m-t-5 text-right "><span><b>Min:</b>100</span>
                                                        <span class="m-l-5"><b>Max:</b>200000</span></p>
                                                </td>

                                            </tr>
                                        
                                
                                    

                                        </tbody>
                                    </table> -->
                                </div>



                            </div>
                        </div>
                    </div>








                    <div class="block" style="    margin-top: 15px;    background: #eeeeee;">
                        <div class="tab-head">
                            Khado Market
                            <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 16px;">
                                View All</a>
                        </div>


                        <div class="balls">
                            <p class="text-right">
                                <span class="runs">
                                    <span>4</span> </span>
                                <span class="runs">
                                    <span>4</span>
                                </span>
                                <span class="runs">
                                    <span>1</span> </span>
                                <span class="runs">
                                    <span>5</span> </span>
                                <span class="runs">
                                    <span>3</span>
                                </span>
                                <span class="runs">
                                    <span>2</span>
                                </span>
                                <span class="runs">
                                    <span>5</span>
                                </span>
                                <span class="runs">
                                    <span>1</span>
                                </span>
                                <span class="runs">
                                    <span>4</span>
                                </span>
                                <span class="runs">
                                    <span>6</span>
                                </span>
                            </p>
                        </div>
                    </div>






                </div>





            </div>
            <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
                <div class=" tab-content" style=" margin-top: 20px;">
                    <table class="tbldsk table table-striped  m-b-none text-small">
                        <thead>
                            <tr>
                                <th
                                    style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">
                                    Nation</th>
                                <th
                                    style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                                    ODDS</th>
                                <th
                                    style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                                    Amount</th>
                            </tr>
                        </thead>
                        <tbody id="matched"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



</div>