
<app-header></app-header>
    <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;" class="pull-left">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>

                   <div class="panel1">
                    <div class="parent" onclick="">
                            <div class="child bg-one">
                              
                            </div>
                        </div>
                        </div>
                


     </div>
                
