


    <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>


           <div class="form">
                <h4 style="text-align:center">Profit Loss Report</h4>
                <div class="tab1">
                <div class="col-lg-5" style="float: right;display: inline-flex;">
                <div class="col-xs-12 col-12 col-md-4 form-group" style="margin-top: 10px;">
                        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                          [bsConfig]="{ isAnimated: true }">
                      </div>
            
                      <button style="margin-top:5px; text-align: center;    display: inline-block;
                      height: 35px;margin-top: 8px;" class="btn btn-small btn-primary">Submit</button>
            
                      <form>
                      </form>
                    </div>
                  </div>

                  <div class=" tab" style=" margin-top: 20px;" >
                    <table class="table table-bordered" cellspacing="0" width="100%">
                      <thead>
                      <tr>
                      <th width="50%">Eventtype</th>
                      <th width="15%">EventName</th>
                      <th width="15%" style="text-align: right;">Amount</th>
                       <th width="20%">No. Of Trade</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td colspan="8">No data available in table</td>
                      </tr>
                      </tbody>
                      </table>
            </div>
               
           </div>
          
     </div>


