


    <div class="panel">
            <div class="clearfix"> 
            <a href="javascript:history.go(-1)">
            <span style="padding-right:30px;">
            <i class="fa fa-chevron-circle-left" style="font-size:22px;color:#3a5a7a;text-decoration: none; margin-left: .2em; margin-right: .2em;"></i>BACK</span></a>
           </div>


           <div class="form">
                <h4 style="text-align:center">Change Button Values</h4>
                
                  <div class=" tab">
                        <form>
                               
                                <table class="tbldsk table table-bordered m-b-none text-small">
                                <thead>
                                <tr>
                                <th style="width:10%">ID</th>
                                <th style="width:45%">Button Value</th>
                                <th style="width:45%">Button Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>1</td>
                                <td><input class="form-control" style="width:95%"  type="number" min="1" max="99999999" maxlength="9" name="val_3240851" value="1000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240851" value="1000" required=""></td>
                                </tr>
                                <tr>
                                <td>2</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240852" value="5000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240852" value="5000" required=""></td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240853" value="10000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240853" value="10000" required=""></td>
                                </tr>
                                <tr>
                                <td>4</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240854" value="25000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240854" value="25000" required=""></td>
                                </tr>
                                <tr>
                                <td>5</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240855" value="50000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240855" value="50000" required=""></td>
                                </tr>
                                <tr>
                                <td>6</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240856" value="100000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240856" value="100000" required=""></td>
                                </tr>
                                <tr>
                                <td>7</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240857" value="200000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240857" value="200000" required=""></td>
                                </tr>
                                <tr>
                                <td>8</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240858" value="500000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240858" value="500000" required=""></td>
                                </tr>
                                <tr>
                                <td>9</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240859" value="1000000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240859" value="1000000" required=""></td>
                                </tr>
                                <tr>
                                <td>10</td>
                                <td><input class="form-control" style="width:95%" type="number" min="1" max="99999999" maxlength="9" name="val_3240860" value="2500000" required=""></td>
                                <td><input class="form-control" style="width:95%" type="text" maxlength="7" name="name_3240860" value="2500000" required=""></td>
                                </tr>
                                </tbody>
                                </table>
                                <input type="hidden" name="action" value="update">
                                <input type="hidden" name="update" value="update">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                     
            </div>
               
           </div>
          
     </div>

