<app-header></app-header>

<div class="panel">


  <div id="navbar-example">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
      </li>


    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
        <div class="tab-head">
          <span class="head-title" style="    font-size: 16px;">Amar Akbar Anthony
            <small data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
          <div class="text-right"><small style="font-size: 13px;  font-weight: 400;"><b>Round
                ID:</b>192811113155</small></div>
        </div>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document" style="width: 336px;">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="color: black;     font-weight: 300;">Rules
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="color: black;">
                <img src="/assets/images/aaa-rules.jpg" class="img-fluid" style="height: 354px; width: 266px;">
              </div>
            </div>
          </div>
        </div>


        <div id="playerDiv"
          style="width: 100%;    height: 200px; overflow: hidden; position: relative; background-color: black;">
          <div class="video-overlay" style="display: block;">
            <div class="card-inner">
              <h3 class="text-white" style="color: #fff;">card</h3>
              <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">


              </div>
            </div>
          </div>
                 

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>
          <div class="iframe"><iframe style="border: none;    height: 200px;"
              src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
            </iframe>
          </div>
        </div>

        <div class="card-content">

          <!-- <div class="tab-head">
                                         
                                            <a id="circle" data-toggle="modal" data-target="#exampleModalLong"style="float: right;    font-size: 16px;"><span><i class="fa fa-info-circle "></i></span></a>
                                          
                                     </div> -->
          <div class="aaa-content" style="    background: #eeeeee;">
            <div class="col-10 text-right">
              <div class="info-block" style="margin-top: 10px;margin-right: 10px;padding-bottom: 10px;"><a
                  title="Header" placement="bottom" data-toggle="popover" data-content="Content">
                  <i class="fa fa-info-circle " style="    color: black;
                                         font-size: 16px;"></i></a>
              </div>
              <!-- <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Bottom</a> -->
            </div>


            <div class="table">
              <table style="margin-top:0px;margin-bottom:0px" class="table coupon-table table table-bordered ">
                <tbody>
                  <tr class="bet-info suspended" style="    border-top: 1px solid #807979b5;">
                    <td class="w-6" style="  background: #eeeeee;"><span style="color: red;">A.</span>DON<br><span
                        style="color: red;">0</span>
                    </td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>2.12</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>2.22</b></span>
                    </td>

                  </tr>
                  <tr class="bet-info suspended">
                    <td class="w-6" style="  background: #eeeeee;"><span style="color: red;">B.</span>Amar Akbar
                      Anthony<br><span style="color: red;">0</span></td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>3.15</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>3.35</b></span>
                    </td>

                  </tr>
                  <tr class="bet-info suspended">
                    <td class="w-6" style="   background: #eeeeee;"><span style="color: red;">C.</span>Sahib Bibi Aur
                      Ghulam<br><span style="color: red;">0</span></td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>4.15</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>4.45</b></span>
                    </td>

                  </tr>
                  <tr class="bet-info suspended">
                    <td class="w-6" style="   background: #eeeeee;"><span style="color: red;">D.</span>Dharam
                      Veer<br><span style="color: red;">0</span>
                    </td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>2.12</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>2.22</b></span>
                    </td>

                  </tr>
                  <tr class="bet-info suspended">
                    <td class="w-6" style=" background: #eeeeee;"><span style="color: red;">E.</span>Kis KisKo Pyaar
                      Karoon<br><span style="color: red;">0</span>
                    </td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>2.12</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>2.22</b></span>
                    </td>

                  </tr>
                  <tr class="bet-info suspended">
                    <td class="w-6" style="background: #eeeeee;"><span style="color: red;">F.</span> Ghulam<br><span
                        style="color: red;">0</span>
                    </td>
                    <td class="w-2" colspan="1" data-toggle="modal" data-target="#exampleModal"
                      style="text-align: center;;background:#72bbef;"><span><b>2.12</b></span></td>
                    <td class="w-2" colspan="1" style="text-align: center;background:#ffb0be;"><span><b>2.22</b></span>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row1">
            <div class="col-12">
              <div class="col-6">
                <div class="content">

                  <div class="text-center" style="    padding-top: 20px;">
                    <div><b>2.12</b></div>

                    <div class="m-b-5 m-t-5" data-toggle="modal" data-target="#exampleModal">
                      <button class="text-uppercase casino-btn suspended"><b>Even</b></button>
                    </div>
                    <div>
                      <div class="ubook  text-danger"><b>0</b></div>
                    </div>
                  </div>

                  <div class="text-center" style="    padding-top: 20px;">
                    <div><b>1.83</b></div>

                    <div class="m-b-5 m-t-5" data-toggle="modal" data-target="#exampleModal">
                      <button class="text-uppercase casino-btn suspended"><b>Odd</b></button>
                    </div>
                    <div>
                      <div class="text-danger"><b>0</b></div>
                    </div>
                  </div>

                </div>
              </div>



              <div class="col-6">
                <div class="content">
                  <div class="text-right">
                    <i class="fa fa-info-circle " style="    color: black;
                                                         font-size: 16px;"></i>
                  </div>
                  <div class="text-center">
                    <div><b>2.12</b></div>
                   
                    <div class="m-b-5 m-t-5" data-toggle="modal" data-target="#exampleModal">
                      <button class="text-uppercase casino-btn suspended"><b>Even</b></button>
                    </div>
                    <div>
                      <div class="ubook  text-danger"><b>0</b></div>
                    </div>
                    <div class="text-right">
                      <i class="fa fa-info-circle " style="    color: black;
                                                               font-size: 16px;"></i>
                    </div>
                  </div>

                  <div class="text-center">
                    <div class="f1"><b>1.83</b></div>
                    
                    <div class="m-b-5 m-t-5" data-toggle="modal" data-target="#exampleModal">
                      <button class="text-uppercase casino-btn suspended"><b>Odd</b></button>
                    </div>
                    <div>
                      <div class="text-danger"><b>0</b></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="width: 300px; background: rgb(114, 187, 239);">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 id="teamname">2 Signle</h4>
              <hr>

              <form>
                <div class="label2" style="    padding-bottom: 10px;">
                  <label style=" padding-right: 40px;  ">
                    ODDS
                  </label>
                  <div style="  display: contents;">
                    <input class=" btn-white" field="odds" type="button" value="-">
                    <input class="amountint" placeholder="9">
                    <input class=" btn-white" field="odds" type="button" value="+">

                  </div>
                </div>

                <div class="label2">
                  <label style="padding-right: 27px;">
                    Amount
                  </label>
                  <div style="  display: contents;">
                    <!-- <input type="text" id="demo" style="    color: black;"> -->
                    <input id="demo" style="width: 153px; color: black;" maxlength="10" required="required" type="text">

                  </div>
                </div>

                <div class="btndiv">
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="1000" id="myBtn" (click)="myFunction()">
                      1000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="5000">
                      5000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="10000">
                      10000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="25000">
                      25000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="50000">
                      50000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="100000">
                      100000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="200000">
                      200000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="500000">
                      500000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="1000000">
                      1000000 </button>
                  </div>
                  <div class="btn-group">
                    <button class="btns btn" type="button" value="2500000" id="myBtn" (click)="myFunction()">
                      2500000 </button>
                  </div>
                </div>

                <div class="last-btn">
                  <button class="btn btn-danger" style="    color: #fff;
                                              background-color: #ff5f5f;margin-left: 4px;">
                    Cancel
                  </button>
                  <button class="btn btn-primary" type="submit" value="" style="color: #fff;
                                                background-color: #13c4a5; margin-left: 4px;">
                    Place Bet
                  </button>


                </div>
              </form>
            </div>
          </div>



          <div class="row3">

            <div class="col-10 text-right">
              <div class="info-block" style="margin-top: 10px;margin-right: 10px;"><a href="">
                  <i class="fa fa-info-circle " style="    color: black;
                                                font-size: 16px;"></i></a>
              </div>
            </div>

            <div class="col-12 text-center" style="text-align: center; display: inline-block;"><b>0.00</b></div>

            <div class=" images images text-center">


              <div class=" m-r-5 card-image ">
                <div class="suspended">
                <img src="/assets/images/11.jpg" style="width: 40px;">
              </div>
                <div class="text-danger"><b>0</b></div>
              </div>

              <div class=" m-r-5 card-image">
                <div class="suspended">
                <img src="/assets/images/12.jpg" style="width: 40px;">
                </div>
                <div class="text-danger"><b>0</b></div>
              </div>

              <div class=" m-r-5 card-image">
                <div class="suspended">
                <img src="/assets/images/13.jpg" style="width: 40px;">
                </div>
                <div class="text-danger"><b>0</b></div>
              </div>
            </div>

            <div class="tab-head">
              Last Result
              <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 14px;"> View All</a>
            </div>

            <div class="balls" data-toggle="modal" data-target="#ballsmodeling">
              <p class="text-right">
                <span class="runs">
                  <span>A</span> </span>
                <span class="runs">
                  <span>E</span>
                </span>
                <span class="runs">
                  <span>C</span>
                </span>
                <span class="runs">
                  <span>D</span>
                </span>
                <span class="runs">
                  <span>D</span>
                </span>
                <span class="runs">
                  <span>F</span>
                </span>
                <span class="runs">
                  <span>E</span>
                </span>
                <span class="runs">
                  <span>F</span>
                </span>
                <span class="runs">
                  <span>F</span>
                </span>
                <span class="runs">
                  <span>D</span>
                </span>
              </p>
            </div>



            <div class="modal fade" id="ballsmodeling" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document" style="width: 446px; height: 280px; background: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Instant Worli Result</h4>
                <hr>
                <span class="float-right round-id" style="float: right;"><b>Round ID:</b>
                  191012135506</span>

                <div class="col-md-12 text-center">
                  <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/JHH.png">
                  <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/3SS.png">
                </div>

                <div class="col-md-12 text-center">
                  <div class="resultd m-t-20">
                    <span class="greenbx">Result:</span>
                    Dragon|No Pair
                  </div>
                  <div class="resultd1"><b>Dragon:</b>
                    Black|Odd|JSpade</div>
                  <div class="resultd1"><b>Tiger:</b>
                    Red|Odd|3Diamond</div>


                </div>




              </div>
            </div>

          </div>




        </div>





      </div>
      <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
        <div class=" tab-content" style=" margin-top: 20px;">
          <table class="tbldsk table table-striped  m-b-none text-small">
            <thead>
              <tr>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">
                  Nation</th>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                  ODDS</th>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                  Amount</th>
              </tr>
            </thead>
            <tbody id="matched"></tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



</div>