<app-header></app-header>

<div class="panel">


  <div id="navbar-example">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link " data-toggle="tab" href="#attributes" role="tab">Bhav</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Matched</a>
      </li>


    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="attributes" name="attributes" role="tabpanel">
        <div class="tab-head">
          <span class="head-title" style="    font-size: 17px;">
            Open Teenpatti
            <small data-toggle="modal" data-target="#exampleModalLong"><u>Rules</u></small></span>
          <div class="text-right"><small style="font-size: 13px;  font-weight: 400;"><b>Round
                ID:</b>192811113155</small></div>
        </div>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document" style="width: 300px;">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="color: black;     font-weight: 300;">Rules
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="color: black;">
                <img src="/assets/images/rules.jpg" class="img-fluid" style="height: 354px; width: 266px;">
              </div>
            </div>
          </div>
        </div>


        <div id="playerDiv" style="width: 100%; overflow: hidden; position: relative; background-color: black;">

          <div class="video-overlay" style="display: block;">
            <div class="card-inner">
              <h3 class="text-white" style="color: #fff;">dealer</h3>
              <div><img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">


              </div>
            </div>
          </div>
                 

          <div class="clock clock2digit flip-clock-wrapper">
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                  </div>
                </a></li> -->
            </ul>
            <ul class="flip  play">
              <li class="flip-clock-before"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">5</div>
                  </div>
                </a></li>
              <!-- <li class="flip-clock-active"><a href="#">
                  <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                  <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">4</div>
                  </div>
                </a></li> -->
            </ul>
          </div>

          <div class="iframe"><iframe style="border: none;    height: 200px;"
              src="http://ikon247.com/teenpatti/testing/live_tv/1_day/player.html">
            </iframe>

          </div>

        </div>

        <div class="card-content">
          <div class="table">
            <table style="margin-top:0px;margin-bottom:0px;"
              class="table  table-bordered teenpatti-market bookmaker-market ">
              <thead>
                <tr class="bet-info suspended" >
                  <th class="w-4 text-left" style="background:#72bbef;font-weight: 600;font-size: 12px;border-bottom: 1px solid #fff;"></th>
                  <th class=" w-3 back teen-section" colspan="1"
                    style="background:#72bbef; text-align: center; font-size: 13px;padding-bottom: 14px;">
                    <span>Back(Min: 100 Max: 1000000)</span></th>
                  <th class="w-3 back teen-section" colspan="1"
                    style="background:#72bbef; text-align: center; font-size: 13px;"><span>Min: 100</span>
                    <br><span>Max: 1000000</span></th>
                    </tr>
              </thead>
              <!-- <thead>
  
                                            </thead> -->

              <tbody>
     
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data  w-4 text-left" style=" background: #96a9a95e;"><span> Player 1</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef; ">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>Pair plus 1</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 2</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 2</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 3</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 3</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 4</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td colspan="1" style="background:#72bbef;;"><span><b>Pair plus 4</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 5</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 5</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 6</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 6</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 7</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 7</b></span><br><span>0</span></td>

                </tr>
                <tr class="bet-info suspended" data-title="SUSPENDED">
                  <td class="data w-4 text-left" style="background: #96a9a95e"><span>Player 8</span> </td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;">
                    <span><b>1.98</b></span><br><span>0</span></td>
                  <td data-title="SUSPENDED" class=" w-3 back teen-section" colspan="1" style="background:#72bbef;;">
                    <span><b>Pair plus 8</b></span><br><span>0</span></td>

                </tr>

              </tbody>
            </table>

          </div>






          <div class="row3">
            <div class="tab-head">
              Rules
              <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 15px; font-weight: 300;">
              </a>
            </div>

            <div class="pair">
              <table class="table table-bordered rules-table">
                <thead>
                  <tr class="text-center">
                    <th colspan="2" style="text-align: center;color: #657483; border: 1px solid #ddd;">Pair Plus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      Pair (Double)</td>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      1 To 1</td>
                  </tr>
                  <tr>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      Flush (Color)</td>
                    <td style="text-align: center;color: #657483; font-size: 14px;font-weight: 400;"> 1 To 4</td>
                  </tr>
                  <tr>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      Straight (Rown)</td>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      1 To 6</td>
                  </tr>
                  <tr>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      Trio (Teen)</td>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      1 To 30</td>
                  </tr>
                  <tr>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      Straight Flush (Pakki Rown)</td>
                    <td
                      style="text-align: center;color: #657483; border: 1px solid #ddd; font-size: 14px;font-weight: 400;">
                      1 To 40</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-head">
              Last Result
              <a [routerLink]="'/casinomobile'" style="float: right;  color: #fff;  font-size: 15px; font-weight: 300;">
                View All</a>
            </div>



            <div class="balls">
              <p class="text-right"  data-toggle="modal" data-target="#ballsmodeling">
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span> </span>
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span> </span>
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span> </span>
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3; margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3;margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3;margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3;margin-right: 5px;">
                  <span>R</span>
                </span>
                <span class="runs" style="color: #ff3;margin-right: 5px;">
                  <span>R</span>
                </span>
              </p>
            </div>


            <div class="modal fade" id="ballsmodeling" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document"
              style="width: 300px; background: #fff;padding-top: 10px; padding-right: 10px;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <h3 class="title" style="padding-bottom: 28px;">Test Live TeenPatti Result</h3>


              <div class="container-fluid">
                <div class="row m-t-10">
                  <div class="col-md-12">
                    <span class="float-right round-id"><b>Round ID:</b> 192812135130</span>
                  </div>
                </div>

                <div class="row player-container m-t-10">
                  <div class="player-number">
                    <h4 class="text-center">Tiger</h4>
                    <div class="player-image-container row">
                      <div class="col-xs-2">&nbsp;</div>
                      <div class="col-xs-2 text-center">
                        <img src="/assets/images/12.jpg">
                      </div>
                      <div class="col-xs-2 text-center">
                        <img src="/assets/images/13.jpg">
                      </div>
                      <div class="col-xs-2 text-center p-l-5 p-r-0">
                        <img src="/assets/images/7.jpg">
                      </div>
                      <div class="col-xs-4 text-center">
                      </div>

                    </div>
                  </div>
                  <div class="player-number">
                    <h4 class="text-center">Lion</h4>
                    <div class="player-image-container row">
                      <div class="col-xs-2">&nbsp;</div>
                      <div class="col-xs-2 text-center p-0">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/JCC.png" class="pcard">
                      </div>
                      <div class="col-xs-2 text-center">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/7CC.png" class="pcard">
                      </div>
                      <div class="col-xs-2 text-center p-l-5 p-r-0">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/KDD.png" class="pcard">
                      </div>
                      <div class="col-xs-4 text-center">
                      </div>

                    </div>
                  </div>
                  <div class="player-number">
                    <h4 class="text-center">Dragon</h4>
                    <div class="player-image-container row">
                      <div class="col-xs-2">&nbsp;</div>
                      <div class="col-xs-2 text-center p-0">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/10CC.png" class="pcard">
                      </div>
                      <div class="col-xs-2 text-center">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/9CC.png" class="pcard">
                      </div>
                      <div class="col-xs-2 text-center p-l-5 p-r-0">
                        <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/JHH.png" class="pcard">
                      </div>


                    </div>
                    <div class="col-xs-4 text-center">
                      <label class="winner-label bg-success m-t-20">Winner</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          </div>




        </div>





      </div>
      <div class="tab-pane fade in" id="profile" name="attributes" role="tabpanel">
        <div class=" tab-content" style=" margin-top: 20px;">
          <table class="tbldsk table table-striped  m-b-none text-small">
            <thead>
              <tr>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf; font-weight: 500;">
                  Nation</th>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                  ODDS</th>
                <th
                  style="border:solid 1px #e0e4e8;text-align: center;    background: #fafbfc;color:#3a5a7acf;font-weight: 500;">
                  Amount</th>
              </tr>
            </thead>
            <tbody id="matched"></tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



</div>