<body class="login">
        <div class="wrapper">
        <div class="container-fluid">
        <div class=" row">
        <div class="main col-md-12">
        <div class="loginInner1">
        <div class="featured-box-login">
        <h4 class="text-center">Change Password <i class="fas fa-hand-point-down"></i></h4>
        <form action="" id="frm_lgn" method="POST">
        <div class="form-group m-b-20">
                <input name="inputPassword" id="inputPassword" placeholder="Enter Current Password  " value="" class="form-control" required="" autocomplete="off" type="password">
        <i class="fas fa-user"></i>
        <span id="username-error" class="error"></span>
        </div>
        <div class="form-group m-b-20">
        <input name="inputPassword" id="inputPassword" placeholder="Enter New Password  " value="" class="form-control" required="" autocomplete="off" type="password">
        <i class="fas fa-key"></i>
        <span id="password-error" class="error"></span>
        </div>
        <div class="form-group m-b-20">
                <input name="inputPassword" id="inputPassword" placeholder="Confirm New Password  " value="" class="form-control" required="" autocomplete="off" type="password">
                <i class="fas fa-key"></i>
                <span id="password-error" class="error"></span>
                </div>
        <div id="div_msg" style="display: none;"><span id="msg" class="msg error" style="display: block"></span></div>
        <div class="form-group text-center">

        <button type="submit" class="btn btn-submit btn-login" style="background: #0088cc;
        color: white;">Change Password<i class="fas fa-sign-in-alt"></i></button>
        </div>
       
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        

      </body>