
<!-- 
    <div class="panel">
            <div class="container" style="margin-top: 20px;margin-bottom: 20px;">
                    <h3>Change Password</h3>
                    </div>

                    <form method="post" style="margin-left: 30px;">
                        <div class="form-group">
                        <label>Current Password</label>
                        <input class="form-control" placeholder="Enter Current Password" required="" name="c_pwd" type="password" value="">
                        </div>
                        <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" placeholder="Enter New Password" required="" name="new_pwd" type="password" value="">
                        </div>
                        <div class="form-group">
                        <label>Confirm new Password</label>
                        <input class="form-control" placeholder="Confirm New Password" required="" name="new_pwd_confirmation" type="password" value="">
                        </div>
                        <input type="hidden" name="_token" value="y06RmlZMuahsKOdSfIvFNhBOZYIh0N7lR0qOMY8c">
                        <input type="submit"  (submit)="onSubmit($event)" class="btn btn-success btn-sm" value="Change Password">
                        </form>
    </div> -->
    <div class="panel">
      <div class="container" style="margin-bottom: 20px;">
              <h3>Change Password</h3>
              </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
        <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['oldPwd'].valid && changePasswordForm.controls['oldPwd'].touched}">
          <label for="oldPwd">Old Password</label>
          <input type="password" name="oldPwd" class="form-control" id="oldPassword" placeholder="Old Password" [formControl]="changePasswordForm.controls['oldPwd']" />
          <small *ngIf="changePasswordForm.controls['oldPwd'].hasError('required') && changePasswordForm.controls['oldPwd'].touched" class="text-danger">Old Password Required</small>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['newPwd'].valid && changePasswordForm.controls['newPwd'].touched}">
          <label for="newPwd">New Password</label>
          <input type="password" name="newPwd" class="form-control" id="newPassword" placeholder="New Password" [formControl]="changePasswordForm.controls['newPwd']" />
          <small *ngIf="changePasswordForm.controls['newPwd'].hasError('required') && changePasswordForm.controls['newPwd'].touched" class="text-danger">New Password Required</small>
        </div>
      
        <div class="form-group ">
          <button type="submit" class="btn btn-success" [disabled]="!changePasswordForm.valid">Change Password</button>
        </div>
      </form>
</div>
                
